<h2>Deployment Profile Details</h2>
<p><b>Profile ID: </b><%=	 @deployment_profile.profile_id %></p>
<p><b>Rightscale Account: </b><%=	 @deployment_profile.rs_account %></p>
<p><b>Rightscale Array Name: </b><%=	 @deployment_profile.rs_array_name %></p>
<p><b>Domain Name: </b><%=	 @deployment_profile.domain %></p>